@import "menu_sidebar.css";
@import "content-sidebar.css";
@import "left-sidebar.css";
@import "right-sidebar.css";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: #DEB6AB;
    height: auto;
   
    /* margin: 0px auto; */
}
.text p{
    font-weight: 80;
}

.btm-body{
    width: 100%;
    /* background-color: red; */
    display: flex;
    height: 700px;
}
.left-bd{
    width: 15%;
    height: 600px;
    /* background-color: rgb(141, 207, 133); */

}
.center-bd{
    width: 70%;
    height: 600px;
    /* background-color: rgb(192, 178, 178); */
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
button:hover{
    background-color: #55ACEE;
    color: white;
}



